@media screen and (min-width: 1200px) {
    body {
        font-size: 16px;
    }
    .container-shadow {
        width: 90vw;
    }
    #lightgallery {
        column-count: 3;
        /* Esta linea hace la magia */
    }
    .section.first .subpages .planets .planet div[class^='icon-'] {
        font-size: 3.5em;
    }

    /* Wrapping of intro image */
    .intro .img-wrapper, .intro .img-wrapper img {
        width: 100%;
    }

    .section.first {
        justify-content: center;
        align-items: start;
    }
    .inline-gallery-container {
        width: 35%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .container-shadow {
        width: 100vw;
    }
    #lightgallery {
        column-count: 2;
        /* Esta linea hace la magia */
    }
    .section.first .subpages .planets .planet div[class^='icon-'] {
        font-size: 2.5em;
    }

    /* Wrapping of intro image */
    .intro .img-wrapper, .intro .img-wrapper img {
        width: 100vw;
    }

    .section.first {
        justify-content: center;
        align-items: start;
    }
    .inline-gallery-container {
        width: 35%;
    }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    body {
        font-size: 12px;
    }
    .container-shadow {
        width: 100vw;
    }
    #lightgallery {
        column-count: 2;
        /* Esta linea hace la magia */
    }
    .section.first .subpages .planets .planet div[class^='icon-'] {
        font-size: 2em;
    }

    /* Wrapping of intro image */
    .intro .img-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    
        position: relative;
    
        overflow: hidden;
    }
    .intro .img-wrapper img {
        width: 100vw;
        
        position: absolute;
        left: -90%;
        top: 10%;
    }

    .section.first {
        flex-direction: column;
        align-items: center;
    }
    .inline-gallery-container {
        width: 90%;
    }
}