@media screen and (min-width: 1200px) {
    body {
        font-size: 16px;
    }
    .container-shadow {
        width: 90vw;
    }
    #lightgallery {
        column-count: 3;
        /* Esta linea hace la magia */
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .container-shadow {
        width: 100vw;
    }
    #lightgallery {
        column-count: 2;
        /* Esta linea hace la magia */
    }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    body {
        font-size: 12px;
    }
    .container-shadow {
        width: 100vw;
    }
    #lightgallery {
        column-count: 1;
        /* Esta linea hace la magia */
    }
}