html, body, .container {
    color: rgb(255, 255, 255);
}

img {
    width: 100%;
    height: auto;
}

a {
    color: white;
}
a:visited {
    color: white;
}

.container {
    background-image: url("../images/space-background.jpg");
    background-repeat: repeat;

    overflow: hidden;

    display: flex;
    justify-content: center;
}

.intro {
    position: relative;
}

.fox-in-tree {
    position: absolute;
    right: -2%;
    top: 75%;
    z-index: 1000;

    width: 20%;
}

.title {
    text-align: center;
    font-size: 2.25em;

    padding: 0.5em;
    margin: .5em 0;

    background: black;
}

.pink-button {
    cursor: pointer;
}

.first-chat {
    margin: .5em 0;

    display: flex;
    justify-content: center;
    align-items: start;
}
.first-chat .subtitle {
    font-size: 1.5em;

    margin: 0.5em 0.25em;
    padding: 0.5em;
    border-bottom: 1px solid white;
}
.first-chat .img-wrapper {
    display: flex;
    padding: 0 0.5em;
}
.first-chat .img-wrapper img {
    margin-right: .1em;
}

.inline-gallery-container {
    width: 35%;

    height: 0;
    padding-bottom: 65%;
}

.first-chat .subpages {
    width: 50%;

    margin-left: 2em;
}
.first-chat .subpages h1 {
    font-size: 2em;

    background: black;

    padding: 0.5em;
}
.first-chat .subpages .planets {
    display: flex;
    justify-content: start;
    align-items: center;
}
.first-chat .subpages .planets .planet {
    width: 30%;
    height: 30%;

    margin: 1em;

    position: relative;

    cursor: pointer;
}
.first-chat .subpages .planets .planet img {
    width: 100%;
}
.first-chat .subpages .planets .planet div[class^='icon-'] {
    width: 100%;

    font-size: 2em;
    text-align: center;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.phrase-bd, .title-bd {
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );

    height: 2px;
    width: 100%;

    margin-top: 0.35em;
}

.phrase {
    color: white;
    font-weight: bold;

    text-align: center;
    font-size: 1.75em;

    padding: 0.5em;
    margin: 0.5em 0;

    background: black;
}

.phrase-1 span {
    color: rgb(255, 9, 173);
    font-weight: bold;
}
.phrase-1.white {
    color: white;
}
.phrase-1.pink {
    color: rgb(255, 9, 173);

    transition: color 1s;
}

.inline-gallery-container {
    background-color: rgba(0, 0, 0, 0.5);
}

.to-top {
    width: 7%;
    border: 2px solid white;

    position: fixed;
    right: 2em;
    bottom: 1em;

    display: block;
}
.to-top.hide {
    visibility: hidden;
    opacity: 0;

    transition: all .5s;
}
.to-top.show {
    visibility: visible;
    opacity: 1;

    cursor: pointer;

    transition: all .5s;
}
.to-top p {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgba(0, 0, 0, 0.5);

    font-size: 3em;
    color: white;

    cursor: pointer;
}

.footer {
    padding: 1em;
    
    text-align: center;
    font-size: 1em;
    font-weight: bold;

    background: teal;
}